@model MVC_SIS_UI.Models.StudentEditVM

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Student</h3>
                @Html.ValidationSummary()
            <div class="row">
                @using (Html.BeginForm("Edit", "Student", FormMethod.Post))
                {
                    @Html.HiddenFor(s => s.Student.StudentId)
                    <div class="col-xs-12 col-sm-7">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">Personal Details</h4>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>First Name:</label>
                                    @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Last Name:</label>
                                    @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Major:</label>
                                    @Html.DropDownListFor(m => m.Student.Major.MajorId, Model.MajorItems, "-Choose One-", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>GPA:</label>
                                    @Html.TextBoxFor(m => m.Student.GPA, new { @class = "form-control" })
                                </div>
                                <h4>Courses</h4>
                                <div class="form-group">
                                    @Html.ListBoxFor(m => m.SelectedCourseIds, Model.CourseItems, new { @class = "form-control" })
                                </div>
                                @*<button class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">Address Information</h4>
                </div>
                <div class="panel-body">*@
                                <div class="form-group">
                                    <label>Street 1:</label>
                                    @Html.TextBoxFor(m => m.Student.Address.Street1, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Street 2:</label>
                                    @Html.TextBoxFor(m => m.Student.Address.Street2, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>City:</label>
                                    @Html.TextBoxFor(m => m.Student.Address.City, new { @class = "form-control" })
                                </div>
                                @*<div class="form-group">
                                    <label>State Name:</label>
                                    @Html.TextBoxFor(m => m.Student.Address.State.StateName, new { @class = "form-control" })
                                </div>*@
                                <div class="form-group">
                                    <label>State:</label>
                                    @Html.DropDownListFor(m => m.Student.Address.State.StateAbbreviation, Model.StateItems, "-Choose One-", new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Postal Code:</label>
                                    @Html.TextBoxFor(m => m.Student.Address.PostalCode, new { @class = "form-control" })
                                </div>
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            </div>
        </div>
    </div>
</div>
