
@{
    ViewBag.Title = "New";
}

<div class="container">
    <div class="col-sm-12">
        <h2>New Vehicles</h2>
    </div>
</div>
@*<div class="col-sm-12 row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4" id="priceErrorDiv"></div>
    <div class="col-sm-4" id="yearErrorDiv"></div>
</div>*@
<div class="container" id="blackBorders">
    <div class="col-sm-12">
        <form id="searchForm" class="row align-items-center">
            <div class="col-sm-4">
                <label id="quickSearchLabel">Quick Search</label>
                <input type="text" class="form-control" id="quickSearch" placeholder="Enter make, model, or year">
            </div>

            <div class="col-sm-4" id="searchBar">
                <label id="priceSearchLabel">Price</label>
                @Html.TextBox("minPrice", null, htmlAttributes: new { @class = "form-control", placeholder = "No Min" })
                @*<input type="text" class="form-control" id="minPrice" placeholder="No Min">*@
                @Html.TextBox("maxPrice", null, htmlAttributes: new { @class = "form-control", placeholder = "No Max" })
                @*<input type="text" class="form-control" id="maxPrice" placeholder="No Max">*@
            </div>

            <div class="col-sm-4" id="searchBar">
                <label id="yearSearchLabel">Year</label>
                @Html.TextBox("minYear", null, htmlAttributes: new { @class = "form-control", placeholder = "No Min" })
                @*<input type="text" class="form-control" id="minYear" placeholder="No Min">*@
                @Html.TextBox("maxYear", null, htmlAttributes: new { @class = "form-control", placeholder = "No Max" })
                @*<input type="text" class="form-control" id="maxYear" placeholder="No Max">*@
            </div>
            <div class="col-sm-12">
                <button type="submit" onclick="search()" class="btn btn-primary" id="searchButton">Search</button>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div id="searchResults" class="row col-sm-12">
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#searchForm").submit(function (e) {
                search();
                return false;
            });
        });

        function search() {
            var params;
            var imagePath = '@Url.Content("~/Images/Vehicle/")';
            var detailPath = '@Url.Action("Details", "Inventory")/';

            params = 'vehicleTypeName=New' + '&quickSearch=' + $('#quickSearch').val() + '&minPrice=' + $('#minPrice').val() + '&maxPrice=' + $('#maxPrice').val() + '&minYear=' + $('#minYear').val() + '&maxYear=' + $('#maxYear').val();

            $.ajax({
                type: 'GET',
                url: 'https://localhost:44373/api/inventory/search?' + params,
                success: function (results) {
                    $('#searchResults').empty();

                    var title = '<div class="container col-sm-12" id="searchResulttitle">' +
                        '<h3>Search Results</h3>' +
                        '</div>' +
                        '<br />'
                    $('#searchResults').append(title.toString());

                    $.each(results, function (index, vehicle) {
                        var html = '<div class="container" id="vehicleDetailsContainer">' +
                            '<div class="col-sm-12">' +
                            '<h5 id="detailVehicleTitle">' + vehicle.year + ' ' + vehicle.makeName + ' ' + vehicle.modelName + '</h5>' +
                            '</div>' +
                            '<div class="row">' +
                            '<div class="col-sm-3">' +
                            '<div id="detailVehiclePictureContainer">' +
                            '<img src="' + imagePath + vehicle.imageFilePath + '" id="detailVehiclePicture" />' +
                            '</div>' +
                            '</div>' +
                            '<div class="col-sm-9">' +
                            '<table>' +
                            '<tbody>' +
                            '<tr>' +
                            '<td><strong>Body Style:</strong></td>' +
                            '<td>' + vehicle.bodyStyleType + '</td>' +
                            '<td><strong>Interior:</strong></td>' +
                            '<td>' + vehicle.interiorName + '</td>' +
                            '<td><strong>Sale Price:</strong></td>' +
                            '<td>$' + new Intl.NumberFormat().format(vehicle.salePrice) + '</td>' +
                            '</tr>' +
                            '<tr>' +
                            '<td><strong>Trans:</strong></td>' +
                            '<td>' + vehicle.transmissionType + '</td>' +
                            '<td><strong>Mileage:</strong></td>' +
                            '<td>New</td>' +
                            '<td><strong>MSRP:</strong></td>' +
                            '<td>$' + new Intl.NumberFormat().format(vehicle.msrp) + '</td>' +
                            '</tr>' +
                            '<tr>' +
                            '<td><strong>Color:</strong></td>' +
                            '<td>' + vehicle.colorName + '</td>' +
                            '<td><strong>VIN #:</strong></td>' +
                            '<td>' + vehicle.vinNumber + '</td>' +
                            '<td></td>' +
                            '<td><a href=' + detailPath + vehicle.vinNumber + ' class="btn btn-success" id="btnDetails">Details</a></td>' +
                            '</tr>' +
                            '</tbody>' +
                            '</table>' +
                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '<br />'
                        $('#searchResults').append(html.toString());
                    });
                },
                error: function () {
                    alert('Error performing search, try again later.')
                }
            });
        }
    </script>
    @*<script>
        $(document).ready(function () {
            $('#searchForm').validate({
                errorPlacement: function (error, element) {
                    $('#priceErrorDiv').empty();
                    $('#yearErrorDiv').empty();

                    var elId = element.attr('id');

                    if (elId == 'minPrice') {
                        error.appendTo('#priceErrorDiv');
                    }
                    else if (elId == 'maxPrice') {
                        error.appendTo('#priceErrorDiv');
                    }
                    else if (elId == 'minYear') {
                        error.appendTo('#yearErrorDiv');
                    }
                    else if (elId == 'maxYear') {
                        error.appendTo('#yearErrorDiv');
                    }
                },
                rules: {
                    'minPrice': {
                        number: true,
                        min: 1
                    },
                    'maxPrice': {
                        number: true,
                        min: 1
                    },
                    'minYear': {
                        number: true,
                        min: 2000,
                        max: 2022
                    },
                    'maxYear': {
                        number: true,
                        min: 2000,
                        max: 2022
                    },
                },
                messages: {
                    'minPrice': {
                        number: "Please enter a number for minimum price",
                        min: "Please enter a price greater than 0"
                    },
                    'maxPrice': {
                        number: "Please enter a number for maximum price",
                        min: "Please enter a price greater than 0"
                    },
                    'minYear': {
                        number: "Please enter a number for minimum year",
                        min: "Please enter a year greater than 2000",
                        max: "Please enter a year less than 2022"
                    },
                    'maxYear': {
                        number: "Please enter a number for maximum year",
                        min: "Please enter a year greater than 2000",
                        max: "Please enter a year less than 2022"
                    }
                },
                success: function () {
                    $('#priceErrorDiv').empty();
                    $('#yearErrorDiv').empty();
                }
            });
        });
    </script>*@
}

