@model ShackUp.Models.Queries.ListingItem

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Listing Details</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/Images/" + Model.ImageFileName)" class="shackPicture" />
    </div>
    <div class="col-md-8">
        <table>
            <tbody>
                <tr>
                    <td><strong>Location: </strong></td>
                    <td>@Model.City, @Model.StateId</td>
                </tr>
                <tr>
                    <td><strong>Rate: </strong></td>
                    <td>@Model.Rate.ToString("c") / Night</td>
                </tr>
                <tr>
                    <td><strong>Size: </strong></td>
                    <td>@Model.SquareFootage sq ft</td>
                </tr>
                <tr>
                    <td><strong>Electric: </strong></td>
                    <td>
                        @if (Model.HasElectric)
                        {
                            <text>Yes</text>
                        }
                        else
                        {
                            <text>No</text>
                        }
                    </td>
                </tr>
                <tr>
                    <td><strong>Heat: </strong></td>
                    <td>
                        @if (Model.HasHeat)
                        {
                            <text>Yes</text>
                        }
                        else
                        {
                            <text>No</text>
                        }
                    </td>
                </tr>
                <tr>
                    <td><strong>Bathroom: </strong></td>
                    <td>@Model.BathroomTypeName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>@Model.ListingDescription</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>
            @if (Request.IsAuthenticated)
            {
                <button id="btnContact" class="btn btn-primary" onclick="addContact()">Contact Owner</button>
                <button id="btnFavorite" class="btn btn-primary" onclick="toggleFavorite()">Add to Favorites</button>
            }
            else
            {
                <text>@Html.ActionLink("Register", "Register", "Account") to contact the owner!</text>
            }
        </p>
        <p id="statusMessage">

        </p>
    </div>
</div>

@section Scripts
{
    @if (Request.IsAuthenticated)
    {
        <script>
            var userId = '@ViewBag.UserId';
            var listingId = @Model.ListingId;
            var isFavorite = false;

            $(document).ready(function () {
                checkIfContact();
                checkIfFavorite();
            });

            function checkIfContact() {
                $.ajax({
                    type: 'GET',
                    url: 'https://localhost:44372/api/contact/check/' + userId + '/' + listingId,
                    success: function (response) {
                        if (response == true) {
                            $('#btnContact').hide();
                        }
                    },
                    error: function () {
                        $('#statusMessage').removeClass('bg-success').addClass('bg-danger').text('Could not check contact.');
                    }
                });
            }

            function addContact() {
                $.ajax({
                    type: 'POST',
                    url: 'https://localhost:44372/api/contact/add/' + userId + '/' + listingId,
                    success: function () {
                        $('#btnContact').hide();
                        $('#statusMessage').removeClass('bg-danger').addClass('bg-success').text('Contact requested');
                    },
                    error: function () {
                        $('#statusMessage').removeClass('bg-success').addClass('bg-danger').text('Could not add contact.');
                    }
                });
            }

            function checkIfFavorite() {
                $.ajax({
                    type: 'GET',
                    url: 'https://localhost:44372/api/favorite/check/' + userId + '/' + listingId,
                    success: function (response) {
                        if (response == true) {
                            isFavorite = true;
                            $('#btnFavorite').html('Remove from Favorites').removeClass('btn-primary').addClass('btn-danger');
                        }
                    },
                    error: function () {
                        $('#statusMessage').removeClass('bg-success').addClass('bg-danger').text('Could not check favorite.');
                    }
                });
            }

            function addFavorite() {
                $.ajax({
                    type: 'POST',
                    url: 'https://localhost:44372/api/favorite/add/' + userId + '/' + listingId,
                    success: function () {
                        $('#btnFavorite').html('Remove from Favorites').removeClass('btn-primary').addClass('btn-danger');
                        $('#statusMessage').removeClass('bg-danger').addClass('bg-success').text('Favorite added');
                        isFavorite = true;
                    },
                    error: function () {
                        $('#statusMessage').removeClass('bg-success').addClass('bg-danger').text('Could not add favorite.');
                    }
                });
            }

            function removeFavorite() {
                $.ajax({
                    type: 'DELETE',
                    url: 'https://localhost:44372/api/favorite/remove/' + userId + '/' + listingId,
                    success: function () {
                        $('#btnFavorite').html('Add to Favorites').removeClass('btn-danger').addClass('btn-primary');
                        $('#statusMessage').removeClass('bg-danger').addClass('bg-success').text('Favorite removed');
                        isFavorite = false;
                    },
                    error: function () {
                        $('#statusMessage').removeClass('bg-success').addClass('bg-danger').text('Could not remove favorite.');
                    }
                });
            }

            function toggleFavorite() {
                if (isFavorite == true) {
                    removeFavorite();
                }
                else {
                    addFavorite();
                }
            }
        </script>
    }
}
