@model Movie_Catalog.Models.EditMovieViewModel

@{
    ViewBag.Title = "EditMovie";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Edit Movie</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m=>m.MovieId)
            <div class="form-group">
                <label>Title</label>
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Genre</label>
                @Html.DropDownListFor(m => m.SelectedGenreId, Model.Genres, "- SELECT -", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Rating</label>
                @Html.DropDownListFor(m => m.SelectedRatingId, Model.Ratings, "- SELECT -", new { @class = "form-control" })
            </div>
            @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default" })
            <button class="btn btn-primary">Save</button>
        }
    </div>
</div>

